*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6), rgba(150,51,150,0.6)) , url(banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2.5px;
    background: #dfafd3;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}
.text-box{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
font-size: 65px;

}

.text-box p{
    margin: 10px 0px 40px;
    font-size: 20px;
    color:  #ffffff;

}
.hero-btn{
    position: relative;
    border: 1px solid #dfafd3;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    top: -31px;
    padding: 9px 17px;
    color: #ffffff;
    background: transparent;
    cursor: pointer;

}
.hero-btn:hover{
    color: white;
    background-color:#dfafd3 ;
    border: 1px solid #dfafd3;
    transition: 1s;
}

nav .fa{
    display: none;
} 

@media (max-width: 700px){
    .text-box h1{
        font-size: 26px;
        
        }
        .text-box p{
         font-size: 15px;
      }
.nav-links ul li{
    display: block;

}
.nav-links{
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
     transition: 1s;
}
nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;

}
.nav-links ul{
    padding: 30px;
}

 }

 
/* Course start */

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;

}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;

}

h3{
    text-align: center;
    font-weight:600 ;
    margin: 10px 0;

}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width:700px){

    .row{
        flex-direction: column;

    }
}




/* campus */



.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    position: relative;
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
}
.layer{
    position: absolute;
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226, 0, 0, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}


/* Our facilities */



.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0%;
}
.facilities-col h3{
margin-top: 16px;
margin-bottom: 15px;
text-align: left;
}

/* testimonal */

.testimonal{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.testimonal-col{
    flex-basis: 44%;
border-radius: 10px;
margin-bottom: 5%;
text-align: left;
background: #fff3f3;
padding: 25px;
cursor: pointer;
display: flex;


}
.testimonal-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50% ;
}
.testimonal-col p{
    padding: 0;
}
.testimonal-col h3{
    margin-top: 15px;
    text-align: left;
}

@media(max-width:700px){
    .testimonal-col img{
     
        margin-left: 0px;
        margin-bottom: 15px;
     
    }
}

/* Call to action */
 .cta{
     margin: 100px auto;
     width: 80%;
     background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    
    }
    .cta h1{
        color: #fff;
        margin-bottom: 40px;
        padding: 0;

    }

    /* Footer */

    .footer{
        width: 100%;
        text-align: center;
        padding: 30px 0px ;
    }
    .footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
    }
